<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<div class="row">
						<div class="col-md-6">
							<h4 class="title">Edit Student Profile</h4>
							<p class="category">Complete or update student profile</p>
						</div>
						<div class="col-md-6 text-right">
							<%= link_to '<i class="material-icons">navigate_before</i> Back'.html_safe, owner_path, class: "btn btn-primary" %>
						</div>
					</div>
				</div>

				<%= render 'form', student: @student %>
				<%= link_to 'Create student plans', student_plans_new_path%>

			 <%=form_for :connect, url: user_stripe_connect_omniauth_authorize_path do |f| %>
                        <%= f.submit "connect to stripe", class: "btn btn-primary" %>
              <%end%>

              <p>
          <%= form_tag student_subscription_path , method: "put" do %>
			  <article>
			    <% if flash[:error].present? %>
			      <div id="error_explanation">
			        <p><%= flash[:error] %></p>
			      </div>
			    <% end %>
			    <label class="amount">
			      <span>Amount: $<%=@plan.amount/100%>.00</span>
			    </label>
			  </article>

			  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="<%= @publishable_key %>"
			          data-description="A month's subscription"
			          data-amount= "<%@plan.amount%>"
			          data-email= "<%=@student.email%>"
			          data-panel-label = "pay"
			          data-label= "subscribe student"
			          data-locale="auto"></script>
			<% end %>
			
          </p>
          <p>
          	<div class="actions">
             <%= button_to "cancel Subscription",student_subscription_path, :method=>'delete' %> 
           </div>
          </p>

          <p>
           <%= form_for :splan, url: student_subscription_path,  method: "put" do |f| %>
                
                   <div class="actions">
                    <%= f.submit "Reactivate" %>
                  </div>
            <% end %> 
          </p>
          

			</div>
		</div>

		<div class="col-md-4">
			<div class="card card-profile">
				<div class="card-avatar">
					<a href="#">
						<%= image_tag "missing-person.jpg"%>
					</a>
				</div>

				<div class="card-content">
					<h6 class="category text-gray">Member Since <%= @student.created_at.strftime("%m/%d/%Y") %></h6>
					<h4 class="card-title"><%= @student.first_name %> <%= @student.last_name %></h4>
					<p class="card-description">
						Trains at <%= current_user.school_name %>
					</p>
					<a href="#" class="btn btn-default btn-round">View</a><br>
					 <%= link_to "create a discount",new_student_subscription_discount_path %> 
					 <br><br>

					 <%= form_for :discount, url: student_subscription_discount_path, :method=>'put' do |f| %>
			                <div class="">
			                      <%= f.label 'Choose discount' %>
			                      <%= f.collection_select(:coup_id, Coupon.where(user: current_user),:id,:coup_id) %>
			                  </div>
			                   <div class="actions">
			                    <%= f.submit "claim discount" %>
			                  </div>
           			 <% end %> 
           			 <br><br>

					 <%= form_for :date, url: billing_path, :method=>'put' do |f| %>
			                <div class="">
			                      <%= f.label :date %> <%= f.date_select(:date, :order => [:month, :day, :year]) %>
			                  </div>
			                   <div class="actions">
			                    <%= f.submit "change billing cycle" %>
			                  </div>
           			 <% end %> 
					 
			 <%= form_tag student_charge_path , method: "put" do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <label class="amount">
                  
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= @publishable_key %>"
                      data-description="Update card details"
                       data-label= "update Card Details"
                       data-email= "<%=@student.email%>"
                       data-panel-label = "update Card Details"
                      data-locale="auto"></script>
          <% end %>
           </div>
				</div>
			</div>
		</div>
	</div>
</div>
