<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Cosplay</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<%= render 'layouts/header' %>

	<div class="content">
		<% if notice %>
		<div class="alert alert-success">
			<div class="container-fluid">
				<div class="alert-icon">
					<i class="material-icons">check</i>
				</div>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true"><i class="material-icons">clear</i></span>
				</button>
				<%= notice %>
			</div>
		</div>
		<% end %>
		<% if alert %>
		<div class="alert alert-danger">
			<div class="container-fluid">
				<div class="alert-icon">
					<i class="material-icons">check</i>
				</div>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true"><i class="material-icons">clear</i></span>
				</button>
				<%= alert %>
			</div>
		</div>
		<% end %>
		<%= yield %>		
	</div>

	<%= render 'layouts/footer' %>

</body>
</html>
