<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cosplay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="background: linear-gradient(60deg, #ab47bc, #7b1fa2);">
    <nav class="navbar navbar-primary navbar-transparent">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/dashboard">Academation</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to '<i class="material-icons">person_add</i> Register'.html_safe, new_user_registration_path, data: { turbolinks: false } %></li>
                    <li><%= link_to '<i class="material-icons">fingerprint</i> Login'.html_safe, new_user_session_path, data: { turbolinks: false }, class: "active" %></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <div class="card card-login">
                                <div class="card-header text-center" data-background-color="purple">
                                    <h4 class="card-title">Login to Academation</h4>
                                    
                                </div>
                                
                                <div class="card-content">

                                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                    <% if notice %>
                                    <div class="alert alert-success">
                                        <div class="container-fluid">
                                            <div class="alert-icon">
                                                <i class="material-icons">check</i>
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                            </button>
                                            <%= notice %>
                                        </div>
                                    </div>
                                    <% end %>
                                    <% if alert %>
                                    <div class="alert alert-danger">
                                        <div class="container-fluid">
                                            <div class="alert-icon">
                                                <i class="material-icons">check</i>
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                            </button>
                                            <%= alert %>
                                        </div>
                                    </div>
                                    <% end %>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group is-empty"><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
                                            <span class="material-input"></span></div>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock</i>
                                            </span>
                                            <div class="form-group is-empty"><%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                                                <span class="material-input"></span></div>
                                            </div>

                                            <% if devise_mapping.rememberable? -%>
                                            <div class="form-group">
                                              <%= f.check_box :remember_me %>
                                              <%= f.label :remember_me %>
                                          </div>
                                          <% end %>

                                          <%= render "devise/shared/links" %>

                                      </div>
                                      <div class="footer text-center">
                                        <div class="actions">
                                            <%= f.submit "Log in", class: "btn btn-primary" %>
                                        </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-page-background"></div></div>
            </div>




            <div class="collapse navbar-collapse off-canvas-sidebar"><ul class="nav nav-mobile-menu">
                <li>
                    <a href="/#/dashboard">
                        <i class="material-icons">dashboard</i> Dashboard
                    </a>
                </li>
                <li class="">
                    <a href="register.html">
                        <i class="material-icons">person_add</i> Register
                    </a>
                </li>
                <li class=" active ">
                    <a href="login.html">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
                <li class="">
                    <a href="lock.html">
                        <i class="material-icons">lock_open</i> Lock
                    </a>
                </li>
            </ul>
        </div>
    </body>
    </html>